@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bienvenido a ServiPuntos</h1>
    
    @if (!User.Identity.IsAuthenticated)
    {
        <p class="lead">Iniciá sesión para continuar.</p>

        
        <a class="btn btn-primary btn-lg mt-3 px-4" href="@Url.Action("Login", "AccountWApp")">
            Guille mogolico
        </a>
    }
    else
    {
        <p class="lead">¡Bienvenido de vuelta, @User.Identity.Name!</p>
        
        <div class="d-grid gap-2 col-md-6 mx-auto">
            
            <a class="btn btn-success btn-lg mt-3" href="@Url.Action("Index", "DashboardWApp")">
                Ir al Dashboard
            </a>
            
            
            <a class="btn btn-danger btn-lg mt-2" href="@Url.Action("Logout", "AccountWApp")">
                Cerrar Sesión
            </a>
        </div>
    }
</div>