@model ServiPuntos.WebApp.Models.ReporteTenantViewModel
@{
    ViewData["Title"] = "Reportes";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="display-6">Reportes del Tenant</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card text-white bg-primary h-100">
                <div class="card-body">
                    <h5 class="card-title">Transacciones</h5>
                    <p class="card-text fs-4">@Model.TotalTransacciones</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-light h-100">
                <div class="card-body">
                    <h5 class="card-title">Monto Total</h5>
                    <p class="card-text fs-4">$@Model.MontoTotalTransacciones.ToString("F2")</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-light h-100">
                <div class="card-body">
                    <h5 class="card-title">Canjes Generados</h5>
                    <p class="card-text fs-4">@Model.TotalCanjes</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-light h-100">
                <div class="card-body">
                    <h5 class="card-title">Canjes Completados</h5>
                    <p class="card-text fs-4">@Model.CanjesCompletados</p>
                </div>
            </div>
        </div>
    </div>
</div>
